<html>
  <head>
    <script type="module" src="index.js"></script>    
    <link rel="stylesheet" href="/node_modules/bare-css/css/bare.min.css" />
  </head>
    <body>
    <p>Template app</p>
    <button id="canContinueBtn">Can Continue</button>    
    <br/>
    <button id="cannotContinueBtn">Can not Continue</button>
    <br/>
    <label>Textbox 01: <input type="text" id="textBox01" ></input></label>
    <br/>    
    <label>Textbox 02: <input type="text" id="textBox02" ></input></label>
    <br/>
    <button id="submitData">Submit data</button>
  </body>
</html>
